*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  font-size: 15px;
}

div {
  position: relative;
}

.logo-container {
  float: left;
}

.form-container {
  float: left;
  max-width: 500px;
}

.form-group {
  margin: 20px auto;
}

input {
  display: block;
  height: 30px;
  width: 300px;
  margin-top: 15px;
}

input.input-checkbox {
  display: inline;
  height: 15px;
  width: 15px;
  margin-top: 0;
}

.button-container {
  float: left;
  width: 30%;
}

.check-container {
  display: inline-block;
  width: 70%;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 15px 40px;
}

ul {
  columns: 2;
  list-style: none;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.show-password {
  position: absolute;
  right: 200px;
  color: #4caf50;
  height: 30px;
}


.header-text{
    float: right;
}

header{
    background-color: beige;
}